body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, #A6C420, #008100);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.7vh;
    max-width: 1500px;
}

@media only screen and (max-width: 600px) {
    .navbar {
        display: none;
    }

    .mobile-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .mobile-footer a {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        padding: 5px;
    }

    .content {
        margin-bottom: 50px;
    }

}

@media only screen and (min-width: 601px) {
    footer {
        display: none;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 93vh;
    width: 80px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* توزيع العناصر بينها */
    align-items: center;
    padding-top: 50px;
    border-radius: 10px;
}

.links {
    position: relative;
    bottom: 280px;
}

.logo img {
    width: 390px;
    /* تحديد العرض */
    height: auto;
    /* تحديد الارتفاع بناءً على العرض المحدد */
    position: relative;
    bottom: 150px;
    left: 18.5px;
}

.links,
.settings-user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links a,
.settings-icon,
.user-icon {
    margin-bottom: 40px;
    /* مسافة بين العناصر */
}

.links a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
}

.links a:hover {
    color: #555;
}

.divider {
    width: 100%;
    border: none;
    position: relative;
    bottom: 280px;
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    /* خط فاصل */
}

.settings-icon,
.user-icon {
    position: relative;
    bottom: 240px;
}


@media only screen and (max-width: 600px) {
    .sidebar {
        display: none;
        /* إخفاء الشريط الجانبي عند عرض الشاشة بأقل من 600 بكسل */
    }
}


header {
    text-align: center;
    padding: 50px;
    position: relative;
    top: 79px;
    left: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 1330px;
    margin: 0 auto; /* يوسط الهيدر أفقيًا */
    border-radius: 10px; /* يجعل حواف الهيدر دائرية */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* يضيف ظل للهيدر */
}


.artist-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.artist-info img {
    width: 170px; /* تعديل حجم الصورة وفقًا للحاجة */
    height: 170px;
    border-radius: 50%; /* تقويس الصورة لتكون دائرية */
    margin-right: 5px; /* تباعد بين الصورة والنصوص */
    position: relative;
    right: 340px;
    top: 15px;
}

.verified {
    color: #fff; /* لون العلامة الموثقة */
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    bottom: 20px;
    right: 280px;
}

.artist-details h1 {
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    right: 410px;
    top: 30px;
    color: #fff;

}

.artist-details p {
    margin: 5px 0;
    font-size: 14px;
    color: #fff;
    position: relative;
    right: 438px;
    top: 32px;
}
@media only screen and (max-width: 600px) {
    .header1 {
        display: none;
        /* إخفاء الشريط الجانبي عند عرض الشاشة بأقل من 600 بكسل */
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    top: 250px;
    left: 200px;
}
.playlist{
    border-radius: 10px; /* يجعل حواف الهيدر دائرية */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* يضيف ظل للهيدر */
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    width: 1000px;
}
.singles{
    border-radius: 10px; /* يجعل حواف الهيدر دائرية */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* يضيف ظل للهيدر */
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    width: 1000px;
}
.playlist-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.playlist-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 2px; /* يجعل حواف الهيدر دائرية */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* يضيف ظل للهيدر */
}
/* تنسيق الشريط السفلي في الفوتر */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 85px;
    width: 92%;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 15px;
    border-radius: 10px; /* يجعل حواف الهيدر دائرية */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* يضيف ظل للهيدر */
}
.footer-content img {
    width: 40px;
    height: 40px;
    margin-right: 30px;
    position: relative;
    top: 8px;
    left: 20px;
}
/* أزرار القائمة */
.controls button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    color: #fff;
    transition: transform 0.3s ease;
    position: relative;
    left: 285px;
    bottom: 8px;
}
.controls button:hover {
    transform: scale(1.2);
}
/* أزرار التشغيل والتوقف */
/* تخصيص أزرار التشغيل */
.play-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position:absolute;
    margin-left: 850px;
}

.play-btn .material-icons {
    font-size: 33px;
    color: #333;
    transition: color 0.3s ease;
}

.play-btn:hover .material-icons {
    color: #ff4500; /* تغيير اللون عند التحويم */
}

/* تخصيص أزرار المشاركة */
.share-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position:absolute;
    margin-left: 910px;
}

.share-btn .material-icons {
    font-size: 32px;
    color: #333;
    transition: color 0.3s ease;
}

.share-btn:hover .material-icons {
    color: #00f; /* تغيير اللون عند التحويم */
}

/* شريط التقدم للأغنية */
.progress-bar {
    position: relative;
    right: 220px;
    width: 50%;
    height: 5px;
    background-color: #ddd;
    position: relative;
    top: 12px;
}
/* تكملة تنسيق شريط التقدم للأغنية */
.progress-bar .current-progress {
    height: 100%;
    background-color: #ff4500;
    position: absolute;
    top: 0;
    left: 0;
}

/* شريط التحكم في مستوى الصوت */
.volume-bar {
    width: 60px; /* طول شريط التحكم */
    height: 5px; /* ارتفاع شريط التحكم */
    background-color: #ddd;
    position: relative;
    right: 200px;
    top: 14px;
}
/* تنسيق أيقونة الصوت */
.volume-bar .material-icons {
    font-size: 22px; /* حجم الأيقونة */
    color: #fff; /* لون الأيقونة */
    margin-right: 5px; /* تباعد بين الأيقونة وشريط التحكم في مستوى الصوت */
    position: relative;
    right: 50px;
    bottom: 8px;
}

.volume-bar .current-volume {
    height: 100%;
    background-color: #ff4500; /* لون الشريط عند التحكم */
    position: absolute;
    top: 0;
    left: 0;
}

/* أيقونات الشريط */
.footer-content .controls button i {
    color: #fff;
}


/* تنسيق الألبومات */
.albums {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position:relative;
    right: 80px;

}

.albums a {
    text-decoration: none;
    color: inherit;
    margin: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px; /* يجعل حواف الهيدر دائرية */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* يضيف ظل للهيدر */
    padding: 15px;
}

.albums img {
    width: 160px;
    height: 160px;
    border-radius: 5%;
}
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Imbue:opsz,wght@10..100,100..900&display=swap');
.albums span {
    display: block;
    margin-top: 5px;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
    color: #fff
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Kaushan+Script&family=Lilita+One&family=Madimi+One&family=Patua+One&display=swap');
.c1{
    font-family: "Madimi One", sans-serif;
    font-weight: bold;
    color: #fff;
}
.c2{
    font-family: "Madimi One", sans-serif;
    font-weight: bold;
    color: #fff;
}
.c3{
    font-family: "Madimi One", sans-serif;
    font-weight: bold;
    color: #fff;
}
.S1{
    font-family: "Madimi One", sans-serif;
    font-weight:bold;
    color:#000;
}